{% assign footer = site.data.footer %}
{% assign navigation = site.data.navigation %}
  <footer class="usa-footer usa-footer-slim" role="contentinfo">
    {% if footer.top %}
    <div class="usa-grid usa-footer-return-to-top">
      <a href="{{ footer.top.href | default: '#' }}">{{ footer.top.text | default: 'Return to top' }}</a>
    </div>
    {% endif %}
    <div class="usa-footer-primary-section">
      <div class="usa-grid-full">
        <nav class="usa-footer-nav usa-width-two-thirds">
          <ul class="usa-unstyled-list">
            {% for nav in navigation.footer %}
            <li class="usa-width-one-fourth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="{{ nav.href }}">{{ nav.text }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>


      </div>
    </div>

    <div class="usa-footer-secondary_section" style="background-color:#aeb0b5">
      <div class="usa-grid">
        {% for footer in site.data.footer.logos %}
        <div class="usa-footer-logo usa-width-one-half">
          <div class="usa-footer-logo">
            <a href="{{ footer.url }}" target="_blank">
              <img class="" src="{{ site.baseurl }}/{{ footer.src }}" alt="{{ footer.alt }}">
            </a>
          </div>
        </div>
        {% endfor %}
        <div class="usa-width-one-half">
          <div class="usa-footer-contact-links">
            Edit this site on
            <a class="usa-link-github" href="https://github.com/mvogelgesang/teamKnow">
              <button class="usa-button-secondary usa-external_link" style="background-color:#aeb0b5;">GitHub</button>
            </a>
          </div>
          <div class="usa-footer-primary-content">
            <p style="text-align:right">Built with <a href="https://designsystem.digital.gov">US Web Design System</a>, a product of the US Government</p>
          </div>
        </div>
      </div>

    </div>
  </footer>
